body{
    margin: 0;
    padding: 0;
}
.header
{
display: flex;
justify-content:space-evenly;
align-items: right;
margin-left: 30px; 
margin-top: 8px;
}
.headimg{
   
    width: 100px;
    height: 38px;
}

.search{
    width: 235px;
    height: 25px;
    margin-left: 400px;
    
    border: 1px;
    border-style:solid;
    border-radius: 5px;
}

.search input
{
    width: 210px;
  border-style: none;
  border-radius: 5px;

}

nav ul{
   
    list-style-type: none;
}
li{
    font-weight: 700;
    padding: 20px;
    
    display: inline;
}

.main-logo
{
    filter: invert(100%);
    padding-top: 180px;
    margin-left: 93px;
}



.image{
   width: 1519px;
   height: 480px;
   
   background-position: center;
   background-size: auto 100%;
   background-repeat: no-repeat;
}

.content{
    margin-left: 380px;
    width: 790px;
}
#link{
    color: black;

}

.second{
    align-items: center;
    width: 1383px;
    height: 406px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 91px;
    position: relative;
}
.second h2{ 
   position: absolute;
    top: 117px;
    left: 34px;
    font-size: 51px;
    font-family: var(--header-font-family);
    color: white;
    font-weight: 200;
}
.second p{
    position: absolute;
    top: 226px;
    color: white;
    left: 35px;
    

}
.second a{
    position: absolute;
     top: 307px;;
    left: 35px;
    color: white;
    font-size: 23px;

    
}
.content a{
    position: absolute;
    top: 831px;
}

.secondimg{
    
    padding-top: 38px;
}
.third{
    position: relative;
    width: 100%;
    height: 200px;


}
.third h1{
    position: absolute;
    margin-top: 110px;
    margin-left: 88px;
}
.fourth{
   background-position: center;
    position: relative;
    width: 1383px;
    height: 406px;
    background-size: cover;
    margin-left: 91px;
    background-repeat: no-repeat;

}
.fourth h2{
    position: absolute;
    top: 117px;
    left: 34px;
    font-size: 51px;
    font-family: var(--header-font-family);
    color: white;
    font-weight: 200;

}
.fourth a{
    position: absolute;
     top: 307px;;
    left: 35px;
    color: white;
    font-size: 23px;
    text-decoration: none;
}
.fourth a:hover
{
    text-decoration: underline;
}
.fifth h1{
    
    margin-top: 110px;
    margin-left: 88px;
}
.sixsth{
    margin-left: 100px;
    
}
table td img{
    width: 400px;

}
.yoo
{
    border-spacing: 50px;
  }
  .final{
    font-size: 10px;
    margin-left: 210px;
  }
  .finallogo{

     width: 30%;
    margin-left: 710px;
  }
.final h4{
    font-size: 10px;
    margin-left: 524px;
    margin-top: 27px;

}